body {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 15px;
    background-color: hsl(180, 52%, 96%);
    margin: 0;
}
img {
    max-width: 100%;
}
li{

}
.head{
    background-image: url(ASSETS/images/bg-header-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(180, 29%, 50%);
    height: 200px;
    width: 228%;
}

.filter-box{
    width: 230px;
    height: 150px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    position: relative;
    top: -30px;
    background-color: white;
    border: 1px snow;
    border-radius: 5px;
    margin: 0 auto 0 auto;
}

.skill-filter {
    border-radius: 5px 0px 0px 5px;
    max-width: fit-content;
    background: hsl(180, 31%, 95%);
    color: hsl(180,29%,50%);
    
}

.skill-filter .skill-content {
    padding: 10px;
}

.skill-filter .skill-close {
    background-color: hsl(180, 29%, 50%);
    padding: 5px;
    width: 24px;
    display: inline-block;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
   


/*input{
    width: 200px;
    height: 120px;
    border-style: none;
}*/

.Clear{
    text-decoration: none;
    color:hsl(180, 14%, 20%) ;
    font-size: large; 
    list-style: none;
    position: absolute;
    top: 240px;
    right: 200px;
}

.container{
    width: 280px;
    border: 1px snow;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin: 0 auto 0 auto;
    position: relative;
    
}

.logo{
    height: 40px;
    width: 40px;
    position: absolute;
    top: -22px;
      
}

.list{
    padding: 5px;
    margin: 0px;
}

.company{
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: hsl(180, 29%, 50%) ;
}

.features{
    display: flex;
      
}
#new{
    border-style: none;
    border-radius: 15px;
    padding: 3px;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 10px;
    background-color: hsl(180, 29%, 50%);
    margin-right: 8px;
    margin-left: 8px;
}

#feat{
    border-style: none;
    border-radius: 15px;
    padding: 3px;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 10px;
    background-color: black;
    color: white;
}

.skill{
    padding: 5px;
   

}
.period{
    color:hsl(180, 5%, 61%) ;
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.skillSet{
    background-color:hsl(180, 31%, 95%) ;
    color: hsl(180, 29%, 50%);
    border: 1px solid;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 12px;
    padding: 5px;
    border-style: none;
    border-radius: 5px;
    justify-content: space-around;
    margin-right: 5px;
    margin-top: 10px;
}

button:hover{
    background-color:hsl(180, 29%, 50%) ;
    cursor: pointer;
    color: white;
}

.jobTitle:hover{
    color:hsl(180, 29%, 50%) ;
    cursor: pointer;
}

.Clear:hover{
    text-decoration: underline;
    color:hsl(180, 29%, 50%);
    cursor: pointer;
    
}



@media only screen and (min-width: 1440px) {
    .filter{
        width: 800px;
        height: 50px;
        padding: 5px;
        padding-right: 50px;
        position: relative;
        top: -30px;
        background-color: white;
        border: 1px snow;
        border-radius: 5px;
        margin: 0 auto 0 auto;
    }
    

    /*input{
        width: 730px;
        height: 45px;
        border-style: none;
    }*/
    
    .Clear{
            text-decoration: none;
            color:hsl(180, 14%, 20%) ;
            font-size: large;    
            list-style: none;
            position: absolute;
            top: 200px;
            right: 470px;
    }
    
    
    .container{
        width: 800px;
        border: 1px snow;
        padding: 30px;
        display: flex;
        background-color: white;
        border-radius: 5px;
        font-family: 'Spartan', sans-serif;
        font-weight: 700;
        font-size: 12px;
        margin: 0 auto 0 auto;
        position: relative;
    }
    
    .list{
      margin-left: 100px;
       width: 300px;
       padding-left: 10px;
       
    }

    .filter-box{
            width: 750px;
            height: 80px;
            padding-left: 50px;
            padding-right:50px ;
            position: relative;
            top: -30px;
            background-color: white;
            border: 1px snow;
            border-radius: 5px;
            margin: 0 auto 0 auto;

        }
   
    
    .company{
        
        font-family: 'Spartan', sans-serif;
        font-weight: 700;
        font-size: 12px;
        color: hsl(180, 29%, 50%) ;
    }

    .logo{
        height: 80px;
        width: 80px;  
        position: absolute;
        top: 35px;
    }
    
    #new{
        border-style: none;
        border-radius: 15px;
        padding: 3px;
        font-family: 'Spartan', sans-serif;
        font-weight: 700;
        font-size: 12px;
        background-color: hsl(180, 29%, 50%);
    }
    
    #feat{
        border-style: none;
        border-radius: 15px;
        padding: 3px;
        font-family: 'Spartan', sans-serif;
        font-weight: 700;
        font-size: 12px;
        background-color: black;
        color: white;
    }
    
    .skill{
        display: flex;
        margin-left: 20px;
        justify-content: space-between;
        justify-items: flex-end;
        width: 350px;
        align-items: center;
    }
    .period{
        color:hsl(180, 5%, 61%) ;
        font-family: 'Spartan', sans-serif;
        font-weight: 500;
        font-size: 15px;
    }
    
    .rule{
        visibility: hidden;
    }
    .skillSet{
        background-color:hsl(180, 31%, 95%) ;
        color: hsl(180, 29%, 50%);
        border: 1px solid;
        font-family: 'Spartan', sans-serif;
        font-weight: 700;
        font-size: 12px;
        padding: 5px;
        border-style: none;
        border-radius: 5px;
    }

   .jobTitle{
        font-family: 'Spartan', sans-serif;
        font-weight: 700;
        font-size: 15px;
        
   }
    
   
    
}



